<% provide(:title, 'Edit User Profile') %>
<% provide(:pageSummary, "Ace Dental Lab | The Best Dental Lab in Southern California | Product List | All Ceramic | Zirconia | Lava | Crown | Bridge | In addition to our All-Ceramic aesthetic restorations, Ace Dental Laboratory offers a variety of fixed and removable prosthesis such as: Procera®, Lava™, Captek™, Ceramage® zirconia Composites, PFM, FCG, Implants, Valplast®, Clip-On Veneers, Full Acrylic Denture and Metal Partial Denture. ") %>
<h1 class="page-header">Edit User</h1>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :email %>
  <%= f.input :password, label: "New Password", autocomplete: "off" %>
  <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
  <%= f.input :current_password %>

  <div class= "form-actions">
  <%= f.submit "Update" , class: "btn btn-info btn-large" %>
</div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
