<% provide(:title, 'Home') %>
<% provide(:pageSummary, "Ace Dental Lab | The Best Dental Lab in Southern California| Free Shipping | Fullerton California | Orange County California | 30% off Zirconia | Sale | Dental Lab Fullerton") %>

<% if user_signed_in? %>
	<h1>You're logged in to Ace!</h1>
	<div class="hero-unit">
		<h1>ACE DENTAL LABS</h1>
		<p>
			<h2>Become a member and receive </h2>
			<h2>CALL TODAY</h2>
			<h2>(714) 525-3653</h2>
		</p>
<br>
		<p>
			<%=link_to "Get a Quote Today", contact_us_path , class: "btn btn-primary btn-large"%>
		</p>
</div>
   <div class="row-fluid">
        <div class="span4">
          <h2>FREE SHIPPING!</h2>
          <p>Ace Dental offers <span class="text-success">FREE</span> shipping in the the greater Orange County and Los Angeles area! We also <strong>guarantee</strong> that your case will be delivered before or on the day it is due. Call or email today to receive information and shipping materials today!</p>
          <p><%= link_to "Free Shipping ", contact_us_path, class: "btn-large btn-custom-darken pull-left" %></p>
        </div>
        <div class="span4">
          <h2>Sale on Zirconias!</h2>
          <p>Until supplies last, Ace Dental is offering 30% off All Zirconia products! Also for a limited time, <span class="text-success">FREE</span>  stock teeth on all Dentures and Partials!
          <p><%= link_to "Join Ace Today!", new_user_registration_path, class: "btn btn-large btn-custom-darken" %></p>
       </div>
        <div class="span4">
          <h2>Always on Time </h2>
          <p>A full service dental laboratory serving the USA, city of Fullerton, Orange County and all of Southern California since 1982. Dedicated to providing the newest innovations in dental technology with fantastic customer service. We want to make you an Ace member for life. Give us a call!
          </p>
          <p><%= link_to "Let's talk!", contact_us_path, class: "btn btn-large btn-custom-darken" %></p>
        </div>
      </div>
      <br>
       <br> <br> <br>
<% else %>
	<div class="hero-unit">
		<h1>ACE DENTAL LABS</h1>
		<p>
			<h2>Become a member </h2>
			<h2>CALL TODAY</h2>
			<h2>(714) 525-3653</h2>
		</p>
<br>
		<p>
			<%=link_to "Request a FREE Quote Today", contact_us_path , class: "btn btn-primary btn-large"%>
		</p>
</div>
   <div class="row-fluid">
        <div class="span4">
          <h2>FREE SHIPPING!</h2>
          <p>Ace Dental offers <span class="text-success">FREE</span> shipping in the the greater Orange County and Los Angeles area! We also <strong>guarantee</strong> that your case will be delivered before or on the day it is due. Call or email today to receive information and shipping materials today!</p>
          <p><%= link_to "Free Shipping ", contact_us_path, class: "btn-large btn-custom-darken pull-left" %></p>
        </div>
        <div class="span4">
          <h2>Sale on Zirconias!</h2>
          <p>Until supplies last, Ace Dental is offering 30% off All Zirconia products! Also for a limited time, <span class="text-success">FREE</span>  stock teeth on all Dentures and Partials!
          <p><%= link_to "Join Ace Today!", new_user_registration_path, class: "btn btn-large btn-custom-darken" %></p>
       </div>
        <div class="span4">
          <h2>Always on Time </h2>
          <p>A full service dental laboratory serving the USA, city of Fullerton, Orange County and all of Southern California since 1982. Dedicated to providing the newest innovations in dental technology with fantastic customer service. We want to make you an Ace member for life. Give us a call!
          </p>
          <p><%= link_to "Let's talk!", contact_us_path, class: "btn btn-large btn-custom-darken" %></p>
        </div>
      </div>
      <br>
       <br> <br> <br>
		
  

<% end %>