 <div class="container-fluid">
  <h1 class="page-header">Ace Dental Lab Price List</h1>
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Products</li>
                <li class="active">
                  <%= link_to "All Ceramic Crowns and Bridges", allCeramic_path  %>
                </li>
                <li> 
                  <%= link_to "CAD/CAM", cadCam_path  %>
                </li>
                <li>
                   <%= link_to "Implants", implants_path  %>
                 </li>
                <li>
                   <%= link_to "Composites", composites_path  %>
                 </li>
                <li>
                   <%= link_to "Removables", removables_path  %></li>
                <li>
                   <%= link_to "Snap-On Smiles", snapOnSmiles_path  %>
                 </li>
                  
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
           <h3>Ask about our monthly coupons!</h3>
            <p>Though we are primarily known form our cosmetic expertise, at Ace Dental Laboratory we offer full-service capabilities in all facets of removable, fixed and implant dentistry. We have been serving Fullerton, Orange County and all of Southern California since 1982. Dental Laboratory Price List: </p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
        </div>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <%= link_to image_tag("upsLogo.png", :alt => "UPS Logo", class: "img-rounded"), :action =>'allCeramic', :controller =>'product_pages' %>
                  <div class="caption">
                    <h3>All Ceramic Crowns and Bridges</h3>
                    <p>Ace Dental Lab offers a variety of fixed and removable prosthesis such as: Procera®, Lava™, Captek™, Ceramage® zirconia Composites, PFM, FCG, Implants, Valplast®, Clip-On Veneers, Full Acrylic Denture and Metal Partial Denture. </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="holder.js/300x200" alt="">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Thumbnail caption...</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="holder.js/300x200" alt="">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Thumbnail caption...</p>
                  </div>
                </div>
              </li>

</ul>

            <div class="span12">
              <h2>Heading</h2>
              <p>Because of the ever changing and prices of materials please contact us at 714-525-3650 for an up to date dental lab price list. You can also check out our monthly dental lab coupons to get some great deals.
               </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
             
           
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <div class="container marketing">

      <!-- START THE FEATURETTES -->

    
      <hr class="featurette-divider">
    </div>