<% provide(:title, 'Ceramic Crowns and Bridges') %>
<% provide(:pageSummary, "Ace Dental Lab | The Best Dental Lab in Southern California | Product List | All Ceramic | Zirconia | Lava | Crown | Bridge | In addition to our All-Ceramic aesthetic restorations, Ace Dental Laboratory offers a variety of fixed and removable prosthesis such as: Procera®, Lava™, Captek™, Ceramage® zirconia Composites, PFM, FCG, Implants, Valplast®, Clip-On Veneers, Full Acrylic Denture and Metal Partial Denture. ") %>
<div class="container-fluid">
	<h1 class="page-header">Ceramic Crowns and Bridges</h1>
	<div class="row">
		<div class="span3">
			<%= render 'layouts/productsMenu'%> 
			<%= image_tag("productImages/allCeramic3.jpg", :alt => "Crowns/Bridges3", class: "img-rounded pull-right ") %>
		</div>
		<div class="span8" style="padding-left: 20px">
		<p class="lead">
			Over the past decade, Ace Dental Lab has perfected the art of All-Ceramic restorations through IPS e.max®, Feldspathic Veneers and 3G™ All-Ceramic systems. Each of our dental technicians are double certified, completing both an Ace training course and a specialized course run by experts in the All-Ceramic restorations.
		</p>
		<p class="lead">
			Ace Dental Lab's highly trained technicians along with All-Ceramic superior strength and durability <strong>GUARANTEE</strong> natural looking results, giving your patients a healthy, natural, beautiful smile. The All-Ceramic systems selected by Ace Dental Laboratory have proven to be the restoration of choice among dentists worldwide. Ace Dental Laboratory extend services to dentists in Fullerton, Orange County and all of Southern California.
		</p>
	
		</div>
		
	</div>
<div class="row-fluid">
	<div class="span11">
	<p class="lead"><h6>ALL-CERAMIC - Feldspathic Veneer</h6>	<%= image_tag("productImages/allCeramic.jpg", :alt => "Crowns/Bridges1", class: "img-rounded pull-right ") %>
Feldspathic veneers and crowns use a layering technique where layers of porcelain are laid down and the tooth is grown, much like a pearl or natural tooth grows to create feldspathic veneers. This gives a natural, vivid, lustrous appearance to the veneers that create the most natural, life-like, smile makeovers that can be achieved.
</p>
<p>
By hand layering feldspathic, Ace Dental Laboratory certified and dedicated ceramic artists create veneers of dynamic beauty and pearl-like translucency. Feldspathic veneers can be made as thin as 0.3 mm to 0.5 mm which requires far less tooth reduction than other veneering alternatives. These remarkable veneers are indicated for slight contour and color changes, and are available in bleach shades. Feldspathic veneers have a big impact on your patient’s appearance by providing a vivid, natural, and lustrous smile.</p>


	<p class="lead"><h6>ALL-CERAMIC - IPS e.max® </h6>   	<%= image_tag("productImages/allCeramic4.jpeg", :alt => "Crowns/Bridges4", class: "img-rounded pull-right ") %>                                                                                                     
<p>The new IPS e.max® material from Ivoclar Vivadent’s patented lithium disilicate material is truly a revolution for the dental industry. Never before has a material been able to combine high strength, high esthetics and ease of use into one product, until now.</p>

<p>IPS e.max is a lithium disilicate glass ceramic that has optimized translucency, durability and strength for full anatomical restorations. Due to the use of new technologies and optimized processing parameters, IPS e.max lithium disilicate has evolved beyond previously available lithium disilicate ceramics. IPS e.max lithium disilicate restorations from Ace Dental Laboratory exhibits superior durability featuring 360-400 MPa of flexural strength. When fabricated to full-contour, the monolithic structure is the most robust ceramic system tested to date. It is indicated for anterior and posterior crown copings and anterior 3-unit bridges. </p>

<p>The opalescence, translucency and light diffusion properties of IPS e.max lithium disilicate were all designed to replicate natural tooth structure for beauty and undetectable restorations.</p>


	<p class="lead"><h6>ALL-CERAMIC - 3G™</h6>	<%= image_tag("productImages/allCeramic5.jpg", :alt => "Crowns/Bridges5", class: "img-rounded pull-right ") %>
		OPC® 3GTM Porcelain is a pressable ceramic system that delivers consistent bridges which are reliable and durable. The needle-like crystalline structure is made up of a lithium disilicate, glass ceramic material which inhibits crack propagation. The crystal free overlay porcelain is kinder to opposing dentition and polishes to a glossy high shine. Recommended for three unit anterior bridges or anterior/posterior single unit applications. 3G Porcelain is twice the strength of the previous generation of pressable ceramics.

		<p>Optimal Pressable Ceramic (OPC) is comprised of a combination of materials that enhance the ability to mimic natural dentition and provide control of optical properties. Because Optimal's core and powders are made from similar ceramic materials and are color coordinated to compliment each other, you have considerably more control over the translucency levels throughout your restoration. The result - a lifelike simulation of natural dentition. </p>

		<p>Optimal provides an extremely impeccable fit to the tooth. This, of course, results in increased load bearing capacity. To you and your patient, this means less time in the chair, fewer adjustments and long restoration life.</p>

</div></div>
	<div class="row-fluid">
		<div class="span12">
		<small><small>IPS e.max® is a registered trade mark of Ivoclar Vivadent North America, Lava™ is registered trade marks of 3M ESPE. Procera® is a registered trade mark of Noble Biocare. Ceramage® is a registered trademark of Shofu, Inc. Captek™ is a registered trade mark of Precious Chemicals, Inc. Valplast® is a registered trade mark of Valplast International Corporation. OPC® 3G™ are registered trademarks of Pentron Clinical Corporation. Clip-On Veneers is a product of Shofu Dental Company.</small></small>
	</div>
	</div>
</div>