<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">First Rails App</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav">
        	<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
<<<<<<< HEAD
	
=======
			<li><%= link_to "Products", products_path %></li>
			<li><%= link_to "Downloads", downloads_path %></li>
			<li><%= link_to "Shipping", shipping_path %></li>
			<li><%= link_to "Contact Us", contact_path %></li>
			<li><%= link_to "Working Schedule", schedule_path %></li>
			<li><%= link_to "Terms and Policies", policies_path %></li>
			<li><%= link_to "Coupons", coupons_path %></li>
>>>>>>> 153fb2e5ee8a4778aa9344d296a37372030b767f
				<!-- .nav, .navbar-search, .navbar-form, etc -->
		</ul>
		 <ul class="nav pull-right">
        	<li><%= link_to "Login", '#'%></li>
		
				<!-- .nav, .navbar-search, .navbar-form, etc -->
		</ul>
      </div>
 
    </div>
  </div>
</div>